  <%- include('../partials/header') %>
    <%=title%>
    <p><img class="pic" src="images/ejs.png" /></p>
  	<p>This webpage uses express and ejs to be able to switch content from page to page</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
<%- include('../partials/footer') %>