  <%- include('../partials/header') %>
    <%=title%>
    <p><img class="pic" src="images/sewing.jpg" /></p>
  	<p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
<%- include('../partials/footer') %>